/**
 * Open FDA demo styles
 */

/* support flowtype text adjustment */
.flow {
	font-size: inherit;
	font-color: inherit;
	height: inherit;
}

/* force autocomplete to use inherited flow styles */
#search .dropdown-menu {
	font-size: inherit;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	font-size: larger;
	display: block;
	width: 100%;
}

/* overflows as ellipsis */
.ellipsize {
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

/* overflow for search dropdown */
#search li a {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}

/*
#effects li {
    overflow:hidden;
    white-space:nowrap;
    text-overflow:ellipsis;
    width:100%;
    display:block;
}
*/