table .header {
	background-image: url(../images/bg.gif);
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}

table .headerSortUp {
	background-image: url(../images/asc.gif);
}

table .headerSortDown {
	background-image: url(../images/desc.gif);
}