<html ng-app="ads">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

	<title>ISHPI OpenFDA Demo</title>
	<script src="js/angular.js"></script>
	<script src="js/angular-route.js"></script>
	<script src="js/angular-resource.js"></script>
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/ui-bootstrap-tpls-0.13.0.js"></script>
	<script src="js/flowtype.js"></script>
	<script src="app.js"></script>
	<script src="js/controllers.js"></script>
	<script src="js/services.js"></script>
	
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link rel="stylesheet" href="css/demo.css">
</head>
<body ng-controller="DrugsCtrl" style="margin: 20px 0px;">
 
<div class="container">
			
<!-- single column -->
<div class="row">
	<div class="col-md-12">
		<!-- search -->
		<div class="well well-md">
			<h4>OpenFDA Demo</h4>

			<!--
			<div class="input-group col-md-12">
                    <input id="searchTerm" name="searchTerm" type="search" value="" class="form-control input-lg" placeholder="Enter drug name here ..." autofocus="">
                    <span class="input-group-btn">
                        <button type="submit" class="btn btn-info btn-lg">
                            <i class="glyphicon glyphicon-search"></i><br>Go!
                        </button>
                    </span>
                </div>
             -->   
			<div id="search" class="input-group flow">
				<input type="text" ng-model="asyncSelected"
					placeholder="Enter drug name..."
					typeahead="drug.name for drug in getDrugs($viewValue)"
					typeahead-on-select="onSelect($item)"
					class="form-control input-lg"
					autofocus> <span class="input-group-btn">
					<button class="btn btn-info btn-lg" type="button" ng-click="asyncSelected = ''">clear</button>
				</span>
			</div>
		</div>
		
		<!-- drug info -->
		<div class="panel-group" id="accordion">
			<div class="panel panel-info">
				<div class="panel-heading"><h4>Drug Info</h4></div>
				<div class="panel-body">
					<div title="{{name}}"><big>{{name}}&nbsp;</big></div>
					<div title="{{ndc}}"><big>{{ndc}}&nbsp;</big></div>
					<div title="{{manufacturer}}"><big>{{manufacturer}}&nbsp;</big></div>
				</div>
			</div>

			<!-- dosage information -->
			<div class="panel panel-primary">
				<div class="panel-heading">
					<h4>
						<a data-toggle="collapse" data-parent="#accordion"
							href="#dosage" class="panel-title flow">Dosage & Administration
							<span class="badge flow">{{dosage_status | pluralize}}</span>
						</a>
					</h4>
				</div>

				<div id="dosage" class="panel-collapse collapse">
					<div class="panel-body">
						<span ng-show="!drug.dosage_and_administration"><big>No dosage information.</big></span>
						<div ng-repeat="dosage in drug.dosage_and_administration"><big>{{dosage}}</big></div>
						<!--
						<ul ng-repeat="dosage in drug.dosage_and_administration">
							<li>{{dosage}}</li>
						</ul>
						-->
					</div>
				</div>
			</div>

			<!-- interactions -->
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>
						<a data-toggle="collapse" data-parent="#accordion"
							href="#interactions" class="panel-title flow"
							style="font-weight: bold;">Drug Interactions
							<span class="badge flow">{{interactions_status | pluralize}}</span>
						</a>
					</h4>
				</div>
				<div id="interactions" class="panel-collapse collapse">
					<div class="panel-body">
						<span ng-show="!drug.drug_interactions"><big>No drug interactions.</big></span>
						<ul ng-repeat="interaction in drug.drug_interactions">
							<li title="{{interaction}}"><big>{{interaction}}</big></li>
						</ul>
					</div>
				</div>
			</div>
			
			<!-- adverse effects -->
			<div class="panel panel-danger">
				<div class="panel-heading">
					<h4>
						<a data-toggle="collapse" data-parent="#accordion"
							href="#effects" class="panel-title flow"
							style="font-weight: bold;">Adverse Effects
							<span class="badge flow">{{reactions_status | pluralize}}</span>
						</a>
					</h4>
				</div>
				<div id="effects" class="panel-collapse collapse">
					<div class="panel-body">
						<span ng-show="!reactions"><big>No adverse effects.</big></span>
						<ul ng-repeat="reaction in reactions">
							<li title="{{reaction}}"><big>{{reaction}}</big></li>
						</ul>
					</div>
				</div>
			</div>
		</div>
	</div>
	
</div>

<!-- container end -->
</div>

<!-- flowtype -->
<script>
	/*
	$('body').flowtype();
	
	$('body').flowtype({
	 	minimum   : 500,
	 	maximum   : 1200,
	 	minFont   : 12,
	 	maxFont   : 28,
	 	fontRatio : 50
	});
	*/
</script>
</body>
</html>